@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#termos_aceitacao {
    background-color: rgba(255, 255, 48, 0.486);
    padding: 10px;
    border: 2px solid #000;
    box-shadow: 3px 3px 2px #0000005e;
}
#termos_aceitacao > h1 {
    text-align: center;
    margin: 0;
}

header {
    background-color: green;
}