@charset "UTF-8";

body {
    background-color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
main {
    border: 2px solid black;
    width: 65%;
    background-color: #fff;
    margin: auto;
    padding: 0px 22px 22px 22px;
}
h1 {
    text-align: center;
}
input#converter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: orangered;
    padding: 8px;
    margin: 15px;
    font-size: 1.15em;
}
.entradas {
    border-radius: 7px;
    background-color: #ccc;
    height: 30px;
    width: 100%;
}
div {
    padding: 10px;
}